.circle {
  width: 400px;
  height: 400px;

  background: linear-gradient(to bottom, #f5576c, #f093fb);
  box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
  border-radius: 64% 36% 52% 48% / 62% 45% 55% 38% ;

  animation: circleRadius 4s
  alternate infinite;

  position: absolute;
  right: 10rem;
  bottom: 16rem;
  z-index: 1;
}

@keyframes circleRadius {
  0% {
    border-radius: 64% 36% 52% 48% / 62% 45% 55% 38% ;
    transform: translate3d(0,0,0);
  }
  50% {
    border-radius: 86% 14% 46% 54% / 72% 79% 21% 28%   ;
    transform: translate3d(-100px,-80px,0);
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%  ;
    transform: translate3d(0,-100px,0);
  }
}